<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://cdn.staticfile.org/echarts/5.4.2/echarts.min.js"></script>

    
</head>
<body >
    <div id="303a2dc389d74fa881a48fd91cdb9a96" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_303a2dc389d74fa881a48fd91cdb9a96 = echarts.init(
            document.getElementById('303a2dc389d74fa881a48fd91cdb9a96'), 'white', {renderer: 'canvas', locale: 'ZH'});
        var option_303a2dc389d74fa881a48fd91cdb9a96 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "series": [
        {
            "type": "bar",
            "name": "\u4f5c\u54c1\u6570\u91cf",
            "legendHoverLink": true,
            "data": [
                3,
                4,
                4,
                4,
                4,
                4,
                5,
                6,
                6,
                8
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8,
                "formatter": "{c}\u90e8",
                "richInheritPlainLabel": true,
                "valueAnimation": false
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4f5c\u54c1\u6570\u91cf"
            ],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10,
            "triggerEvent": false
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "displayTransition": true,
        "textStyle": {
            "fontSize": 14,
            "richInheritPlainLabel": true
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "type": "value",
            "name": "\u4f5c\u54c1\u6570\u91cf\uff08\u90e8\uff09",
            "show": true,
            "scale": false,
            "nameLocation": "middle",
            "nameGap": 30,
            "nameTruncate": {},
            "nameMoveOverlap": true,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "silent": false,
            "triggerEvent": false,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": false
                }
            },
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0
        }
    ],
    "yAxis": [
        {
            "type": "category",
            "name": "\u5bfc\u6f14",
            "show": true,
            "scale": false,
            "nameLocation": "middle",
            "nameGap": 80,
            "nameTruncate": {},
            "nameMoveOverlap": true,
            "axisLabel": {
                "show": true,
                "margin": 8,
                "fontSize": 11,
                "richInheritPlainLabel": true,
                "valueAnimation": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "silent": false,
            "triggerEvent": false,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": false
                }
            },
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0,
            "data": [
                "\u8a79\u59c6\u65af\u00b7\u5361\u6885\u9686",
                "\u662f\u679d\u88d5\u548c",
                "\u4eca\u654f",
                "\u738b\u5bb6\u536b",
                "\u5927\u536b\u00b7\u82ac\u5947",
                "\u5f7c\u7279\u00b7\u9053\u683c\u7279 Pete Docter",
                "\u674e\u5b89",
                "\u53f2\u8482\u6587\u00b7\u65af\u76ae\u5c14\u4f2f\u683c",
                "\u514b\u91cc\u65af\u6258\u5f17\u00b7\u8bfa\u5170",
                "\u5bab\u5d0e\u9a8f"
            ]
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u8c46\u74e3TOP250\u5bfc\u6f14\u4f5c\u54c1\u6570\u91cf\u6392\u884c",
            "target": "blank",
            "subtext": "\u6570\u636e\u6765\u6e90: \u8c46\u74e3\u7535\u5f71TOP250\u699c\u5355",
            "subtarget": "blank",
            "left": "center",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false,
            "textStyle": {
                "fontWeight": "bold",
                "fontSize": 20,
                "richInheritPlainLabel": true
            }
        }
    ]
};
        chart_303a2dc389d74fa881a48fd91cdb9a96.setOption(option_303a2dc389d74fa881a48fd91cdb9a96);
    </script>
</body>
</html>
